<!-- <button type='submit' class='btn btn-primary'>button</button> -->

<% @count.downto(0) do |i| %>

<div class="test">

<div id="x<%=i.to_s%>">
<%= Cowsay.say(@div_content.to_a[i]) %>
</div>

</div>

<% end %>

